GmailTrigger.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "=hi",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b7eeb24d-29c0-4c97-8e73-d72e4893de45",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DB6ybGFPguSRUoFq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}summarize",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "af515e73-0daf-420d-905e-15d2cde9750f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "0b296434-31b8-446e-8788-c51868d2024c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gDgcorp4qvmtJtf5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "alladisaipavan6@gmail.com",
        "subject": "caution!",
        "message": "=deadline coming close {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "83ca3e0f-55b7-4a7b-88e8-bf01338ce490",
      "name": "Send a message",
      "webhookId": "fa8ebb42-abf8-418b-aeec-4832b6afe4d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "DB6ybGFPguSRUoFq",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aaa8653d-b257-434b-8eb3-f3afaaa9a005",
  "meta": {
    "instanceId": "c2e1e1fa51938e2364bbae2f2a5995ab420f5c8a68c43ef0b9227fdaac3631ec"
  },
  "id": "r5Cd6F5iNyv2x0Wy",
  "tags": []
}